---
import "../styles/styles.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

const pageTitle = "All posts";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <ul class="blog-list">
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
