---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../site.config";
import RelativeDate from "../components/RelativeDate.astro";

const posts = await getCollection("blog");

posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);

const latest = posts[0];
if (!latest) throw new Error("No blog posts found");

const { Content } = await render(latest);
---

<BaseLayout
  pageTitle={site.title}
  pageDescription="Exchange and development notes by Otto Tirronen"
  showPageTitle={false}
>
  <h1 class="sr-only">Otto Tirronen - Exchange and Development Notes</h1>

  <article class="prose home-latest">
    <h2 class="post-title">{latest.data.title}</h2>

    <Content />
    <p>-{latest.data.author}</p>
    <p>
      <!-- Posted {latest.data.pubDate.toLocaleDateString()} -->
      Posted <RelativeDate date={latest.data.pubDate} />
    </p>
  </article>

  <div class="tags">
    {
      latest.data.tags.map((tag: string) => (
        <a href={`/tags/${tag}`} class="tag">
          {tag}
        </a>
      ))
    }
  </div>

  <p>
    <a href="/blog">Go to all posts →</a>
  </p>
</BaseLayout>
