---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/styles.css";
import { site } from "../site.config";

const posts = await getCollection("blog");

posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

// Take latest
const latest = posts[0];
if (!latest) throw new Error("No blog posts found");

// Render markdown content without layout
const { Content } = await render(latest);
---

<BaseLayout
  pageTitle={site.title}
  pageDescription="Exchange and development notes by Otto"
  showPageTitle={false}
>
  <h1 class="sr-only">Otto Tirronen - Exchange and Development Notes</h1>

  <article class="prose home-latest">
    <h2 class="post-title">
      {latest.data.title}
    </h2>

    <Content />
    <p>
      Published {latest.data.pubDate.toLocaleDateString()} by {
        latest.data.author
      }
    </p>
  </article>
  <div class="tags">
    {
      latest.data.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <p>
    <a href="/blog">Go to all posts →</a>
  </p>
</BaseLayout>
