---
import "../styles/styles.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { site } from "../site.config";

const {
  pageTitle = site.title,
  pageDescription = site.description,
  showPageTitle = true,
} = Astro.props;

const fullTitle =
  pageTitle === site.title ? site.title : `${pageTitle} | ${site.title}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/otto-alvar-tirronen-blog.png"
    />

    <title>{fullTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="canonical" href={site.url + Astro.url.pathname} />

    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content={site.url + Astro.url.pathname} />
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Header />

    <main>
      {showPageTitle && <h1>{pageTitle}</h1>}
      <slot />
    </main>
    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
