---
import BaseLayout from "./BaseLayout.astro";
import "../styles/styles.css";
import RelativeDate from "../components/RelativeDate.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="prose">
    <slot />
  </article>
  <p>-{frontmatter.author}</p>
  <!-- <p>Posted {new Date(frontmatter.pubDate).toLocaleDateString()}</p> -->
  <p>Posted <RelativeDate date={frontmatter.pubDate} /></p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <a href={`/tags/${tag}`} class="tag">
          {tag}
        </a>
      ))
    }
  </div>
  <a href="/blog" title="Back to all posts"><br />Back to all posts</a>
</BaseLayout>
