---
import BaseLayout from "./BaseLayout.astro";
import "../styles/styles.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="prose">
    <slot />
  </article>
  <p>Published {frontmatter.pubDate.toLocaleDateString()}</p>
  <p>Written by {frontmatter.author}</p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <a href="/blog" title="Back to all posts"><br />Back to all posts</a>
</BaseLayout>
